@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: white;
    scroll-behavior: smooth;
}

:root{
    font-size: 62.5%;
    /* Default (Laptop - 1024px) */
  --h1: 4.8rem;   /* 48px */
  --h2: 3.6rem;   /* 36px */
  --h3: 3rem;     /* 30px */
  --h4: 2.4rem;   /* 24px */
  --h5: 2rem;     /* 20px */
  --body: 1.8rem; /* 18px */
  --small: 1.4rem; /* 14px */

  --red:#ff4e50;
  --yellow:#f9d423;
  --background: linear-gradient(135deg, #f9d423, #ff4e50);
  --background2: linear-gradient(to left, #f9d423, #ff4e50);
}

body{
    background-color: black;
}

.container{
    max-width: 1925px;
    margin: 0 auto;
    /* min-height: 60rem; */
    /* border: 2px solid white; */
    padding: 2rem 2%;
}

.span{
    background: var(--background);
    color: transparent;
    background-clip: text;
}

.span2{
    background: var(--background2);
    color: transparent;
    background-clip: text;
}

header{
    max-width: 1925px;
    margin: 0 auto;
    min-height: 8vh;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    position: sticky;
    z-index: 1000;
    backdrop-filter: blur(8px);
    background-color: #0000002f;
    top: 0;

    >a{
        img{
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            transition: all .2s ease-in;

            &:hover{
                scale: 1.5;
            }
        }
    }

    >nav {
 
        a{
            align-content: center;
            font-size: var(--body);
            text-transform: capitalize;
            color: white;
            position: relative;
            margin: 0 .3em;
            transition: all .2s linear;
            height: 100%;
            display: inline-block;
            &:hover{
                background: var(--background);
                color: transparent;
                background-clip: text;
            }
        }

        a::before{
            content: " ";
            height: .2rem;
            width: 0;
            position: absolute;
            bottom: 1rem;
            left: 0;
            background: var(--background);
            border-radius: 4rem;
            transition: all .2s linear;
        }

        a:hover::before{
            width: 100%;
        }

    }

    >button{
        border: none;
        background-color:transparent;
        font-size: var(--body);
        color: white;
        display: none;
    }

    >a:last-child{
        align-content: center;
        background: var(--background2);
        font-size: var(--body);
        font-weight: 600;
        text-transform: uppercase;
        color: black;
        padding: .2em .4em;
        border-radius: 1rem;
        display: inline-block;
        text-wrap: nowrap;

        &:hover{
            background: var(--background);
        }
    }
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 8rem 2%;

    >img{
        width: 28rem;
        height: 28rem;
        object-fit: cover;
        border-radius: 50%;
        border-image: var(--background);
        
    }

    .intro{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        /* border: 2px solid white; */
        min-width: 350px;

        >span{
            font-size: var(--small);
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: .2rem;
            word-spacing: .3rem;
        }

        >h1{
            font-size: var(--h1);
            text-transform: capitalize;
        }
        >h2{
            font-size: var(--h5);
            text-transform: capitalize;

        }
        >p{
            font-size: var(--small);
            text-align: center;
        }

        .intro-btn{
            /* border: 2px solid white; */
            
            a{
                display: inline-block;
                font-size: var(--body);
                text-transform: uppercase;
                border: 2px solid transparent;
                margin: 1em .4em ;
                padding: 0 .4em;
            }

            a:first-child{
                background-color: white;
                color: black;
                border: 2px solid white;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
            a:last-child{
                background-color: black;
                color: white;
                border-color: white;
                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}

.about{
    display: flex;
    gap: 1rem;
    padding: 10rem 2%;
    .detail {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        >h1{
            font-size: var(--h1);
            text-transform: uppercase;
        }
        p{
            font-size: var(--body);
        }

        .col-link{
            column-count: 2;
            /* border: 2px solid white; */
            max-width: 70%;
            min-width: 20rem;

            i{
                font-size: var(--body);
                margin-right: 1rem;
            }

            a{
                display: block;
                font-size: var(--small);
                padding: 1rem;
                text-transform: capitalize;

                &:hover>i{
                    color: transparent;
                    background: var(--background);
                    background-clip: text;
                    scale: 1.5;
                }
            }
        }

    }
    >img{
        width: 30rem;
        border-radius: .8rem;
    }

}

.services{
    padding: 6rem 2%;
    >h1{
        font-size: var(--h1);
        text-transform: uppercase;
    }
    >p{
        font-size: var(--body);
        margin-bottom: 4rem;
    }

    .service-section{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
        grid-auto-rows: 45rem;
        gap: 1.5rem;
        .box{
            border: 2px solid rgba(255, 255, 255, 0.144);
            border-radius: .6rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 2rem;
            transition: all .2s ease-in-out;
            &:hover{
                border-color: rgba(255, 255, 255, 0.534);
                scale: .9;
            }
            h2{
                font-size: var(--h4);
                text-transform: capitalize;
            }
            p{
                font-size: var(--small);
            }
            >img{
            height: 25rem;
            width: 100%;
            object-fit: cover;
            }
        }
    }
}

.contact{
    padding: 5rem 2%;
    >h1{
        font-size: var(--h1);
        text-transform: uppercase;
    }

    form{
        width: 60%;
        min-width: 32rem;
        /* border: 2px solid white; */
        padding: 0 3rem;
        margin: 4rem auto;
        display: flex;
        flex-direction: column;

        >label{
            font-size: var(--body);
            text-transform: capitalize;
            margin: 1rem 0;
        }

        >input{
            color: black;
            background-color: #ffffffe5;
            padding: .6rem;
            border-radius: .5rem;
            outline: none;
            border: none;
            margin-bottom: 1.5rem;


            &::placeholder{
                text-transform: capitalize;
                color: rgba(0, 0, 0, 0.692);
                font-size: var(--small);
            }
        }

        >input:last-child{
            max-width: 15rem;
            min-width: 6rem;
            text-transform: uppercase;
            font-weight: 600;
            font-size: var(--body);
            background:var(--background) ;
            transition: all .2s ease-in-out;
            cursor: pointer;

            &:hover{
                background: var(--background2);
                scale: .9;
            }
        }

        >textarea{
            min-height: 10rem;
            background-color: #ffffffe5;
            resize: none;
            margin-bottom: 2rem;
            border-radius: .5rem;
            padding: 1rem;
            outline: none;
            border: none;
            color: black;

            &::placeholder{
                color: black;
                font-size: var(--small);
            }
        }


    }
}


footer{
    >h1{
        font-size: var(--h1);
        text-transform: uppercase;
    }

    >ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(24rem,1fr));
        gap:1.5rem;
        margin: 5rem 0;


        >li{

            img{
                width: 10rem;
                border-radius: 50%;
            }

            >p{
                font-size: var(--small);
                margin: 1rem 0;
            }

            >h2{
                text-transform: capitalize;
                font-size: var(--h5);
            }

            >ol{
                list-style: none;
                >li{
                    /* border: 2px solid white; */


                    >a{
                        padding: 1rem;
                        /* background-color: orange; */
                        display: block;
                        font-size: var(--small);
                        text-transform: capitalize;

                        >i{
                            margin-right: 1rem;
                            transition: all .1s ease-in-out;
                        }

                        &:hover i{
                            scale: 1.5;
                            background: var(--background);
                            color: transparent;
                            background-clip: text;
                        }
                    }
                }
            }
        }
    }

    >p{
        text-align: center;
        font-size: var(--body);
        text-transform: uppercase;
        word-spacing: .2rem;
        letter-spacing: .1rem;
        font-weight: 600;
    }
}

@media screen and (max-width:768px) {
    :root {
        --h1: 4rem;   /* 40px */
        --h2: 3.2rem; /* 32px */
        --h3: 2.6rem; /* 26px */
        --h4: 2.2rem; /* 22px */
        --h5: 1.8rem; /* 18px */
        --body: 1.6rem; /* 16px */
        --small: 1.4rem; /* 14px */
      }
    

    header {
        padding: 0 2%;
        nav{
            display: none;
        }
        button{
            display: block;
        }
        >a:last-child{
            display: none;
        }
    }

    .home{
        >img{
            width: 25rem;
            height: 25rem;
        }
    }

    .about{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem 2%;

        p{
            text-align: center;
        }
        .detail{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .col-link{
                min-width: 95%;
                margin: 0 auto;
                text-align: center;
            }
        }

        >img{
            width: 20rem;
        }
    }

}

@media screen and (max-width:640px) {
    :root {
        --h1: 3.2rem; /* 32px */
        --h2: 2.6rem; /* 26px */
        --h3: 2.2rem; /* 22px */
        --h4: 2rem;   /* 20px */
        --h5: 1.6rem; /* 16px */
        --body: 1.6rem; /* 16px */
        --small: 1.2rem; /* 12px */
      }
    

    .home{
        >img{
            width: 20rem;
            height: 20rem;
        }
    }

    .about{
        >img{
            width: 18rem;
        }
    }
}

@media screen and (max-width:425px) {

    :root {
        --h1: 2.8rem; /* 28px */
        --h2: 2.4rem; /* 24px */
        --h3: 2rem;   /* 20px */
        --h4: 1.8rem; /* 18px */
        --h5: 1.6rem; /* 16px */
        --body: 1.4rem; /* 14px */
        --small: 1.2rem; /* 12px */
      }
    

    .home{
        >img{
            width: 15rem;
            height: 15rem;
        }
    }

    .about{
        >img{
            width: 15rem;
        }
    }
}

@media screen and (max-width:360px) {

    :root {
        --h1: 2.4rem; /* 24px */
        --h2: 2rem;   /* 20px */
        --h3: 1.8rem; /* 18px */
        --h4: 1.6rem; /* 16px */
        --h5: 1.4rem; /* 14px */
        --body: 1.4rem; /* 14px */
        --small: 1.2rem; /* 12px */
      }
    

    .home{
        >img{
            width: 12rem;
            height: 12rem;
        }
    }

    .about{
        >img{
            width: 12rem;
        }
    }
}
